.dark-mode h1 {
    color: var(--color-grey-1);
}

.dark-mode h2 {
    color: var(--color-grey-5);
}


.dark-mode button {
    color: var(--color-grey-6);
    background-color: var(--color-grey-8);
}

.dark-mode button:hover {
    background-color: var(--color-grey-7);
}

.dark-mode .button-selected {
    background-color: var(--color-grey-7);
    border: 1px solid var(--color-grey-2);
    color: var(--color-grey-2);
}

.dark-mode .button-selected:hover {
    background-color: var(--color-grey-8);
}

.dark-mode .button-buy {
    background-color: var(--color-grey-7);
    color: var(--color-grey-4);
}

.dark-mode .color-title2 {
    color: var(--color-grey-1);
}

.dark-mode .color-text1 {
    color: var(--color-grey-6);
}