.slider {
    appearance: none;
    background: linear-gradient(to right, var(--color-brand-1) 0%, var(--color-brand-1) 50%, var(--color-grey-5) 50%, var(--color-grey-5) 100%);
    border-radius: 8px;
    height: 7px;
    width: 356px;
    outline: none;
    width: 100%;

}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    background-image: url('../assets/img/slider-thumb.png');
    cursor: pointer;
}